body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #e5cefcfe;
}



h1.title {
    text-align: center;
    color: #3d0477;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px
}

h2.title {
    text-align: left;
    color: #3d0477;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px
}

.content {
  display: flex;
  flex-direction: column;    
  align-items: flex-start;      
  margin: 0 auto;            
  padding: 0 10rem;          
  max-width: 1200px;       
  box-sizing: border-box;
  
}

h5.subtitle {
  width: 100%;
  text-align: left;      
  margin-bottom: 2rem;
  margin-left: 0.5rem;
  color: #3d0477;
  opacity: 0.5;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
}

.content_map {
    width: 100%;              
    max-width: 700px;          
    flex: 1 1 auto;
    align-items: left;
}

.vega-emded .vega-title {
    text-anchor: start;
}
.vega-actions a { margin-right: 5px; }
    .chart-container { margin-bottom: 40px; }
    .vega-bindings {
      position: absolute;
      top: -20px; 
      left: 0.5rem;
      z-index: 10;
      color: #3d0477;
    }

#combined .vega-embed {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

