body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #e5cefcfe;
}

h1.title {
    text-align: center;
    color: #3d0477;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px
}

h5.subtitle {
    text-align: center;
    color: #3d0477;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
}

.map-graph {
    display: flex;
    justify-content: center;
    align-items: center;
}