body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #e5cefcfe;
}

h1.title {
    text-align: center;
    color: #3d0477;
    font-family: 'Times New Roman', Times, serif;
}

.map-graph {
    display: flex;
    justify-content: center;
    align-items: center;
}